
<html>
  <head>
    <script src="http://labs.phaser.io/build/dev.js"></script>
    <!--script(src="/socket.io/socket.io.js")-->
  </head>
  <body>
    <hi></hi>
    <script>var sceneSeed = ""
      console.log("Scene Code from Pug",sceneSeed)
      
    </script>
    <!--script(src='/public/js/game.js' )-->
    <!--include links.js-->
    <script>
      class Game extends Phaser.Scene {
          constructor() {
              super({ key: 'GameScene' })
          
          }
          
          //init (data)// used to transfer data into scene from scene.start
          //{
          //    console.log('init', data);
          //
          //    this.imageID = data.id;
          //    this.imageFile = data.image;
          //}
      
          preload() {
      
          }
      
          create() {
      
          }
      
          update() {
      
          }
      
         
      }
      
    </script>
    <script>
      var config = {
      type: Phaser.AUTO,
      parent: "phaser-example",
      width: 800,
      height: 600,
      seed: sceneSeed,
      physics: {
          default: "arcade",
          arcade: {
          debug: false,
          gravity: { y: 0 },
          },
      },
      scene: [Game],
      };
      
      var game = new Phaser.Game(config);
    </script>
  </body>
</html>